.A4_Size {
    aspect-ratio: 1/1.41;
}

.post_Box{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.75rem;
    border-color: black;
    border-width: 2px;
    gap: 1rem;
    width: 100%;
}

.post_image{
    aspect-ratio: 6/4;
    border-radius: 0.75rem;
    object-fit: cover;
    width: 100%;
}

.profile_user{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border-width: 2px;
    border-color: black;
    object-fit: cover;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
}

.header {
    font-size: 10pt;
    font-weight: bold;
    line-height: 1rem;
}

.filter_list{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: black;
    align-items: center;
    gap: 0.5rem;
}

/* tablat */
@media (min-width: 640px) and (max-width: 1280px) {
    .circle {
        height: 16px;
        width: 16px;
        border-radius: 100%;
        display: inline-block;
    }

    .header {
        font-size: 12px;
        line-height: 1rem;
    }
}

/* mobile */
@media (max-width: 640px) {
    .circle {
        height: 12px;
        width: 12px;
        border-radius: 100%;
        display: inline-block;
    }

    .header {
        font-size: 12px;
        line-height: 0.5rem;
    }
}