:root {
    --background-color: #c5c5c5;
    --desktop-background:linear-gradient(161deg, rgb(58, 87, 180) 0%, rgba(29, 253, 190, 1) 50%, rgba(69, 186, 252, 1) 100%);
    --mobile-background: radial-gradient(circle, rgba(112, 240, 255, 1) 0%, rgba(159, 148, 233, 1) 44%, rgba(101, 61, 232, 1) 100%);
    --tablet-font-size: 12pt;
    --mobile-font-size: 14pt;
    --grid-gap: 1rem;
    --icon-size: 1.5rem;
    --tablet-icon-size: 1.25rem;
  }
  
  .p-container {
    padding-top: 64px;
  }
  
  .blackground-css {
    background: var(--primary-color);
    background: var(--desktop-background);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 8vh;
  }
  
  .icon-size {
    align-content: center;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 0.5rem 0 0;
  }
  
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-auto-rows: auto;
    grid-gap: var(--grid-gap);
    overflow: auto;
  }
  
  .grid-row-layout {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 175px;
    grid-gap: var(--grid-gap);
    overflow-y: clip;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .nav-list li:hover,
  .nav-list li a:hover,
  .nav-list li a.active {
    background-color: var(--background-color);
    border-radius: 8px;
  }
  
  .filter-list {
    list-style-type: none;
    width: 100%;
    height: 3rem;
    background-color: var(--background-color);
  }
  
  .hero-container {
    display: flex;
    background: rgb(0, 10, 36);
    height: auto;
    width: 100%;
    aspect-ratio: 36/9;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* tablet */
  @media (min-width: 768px) and (max-width: 1280px) {
    .icon-size {
      width: var(--tablet-icon-size);
      height: var(--tablet-icon-size);
    }
  
    p {
      font-size: var(--tablet-font-size);
    }
  
    .grid-layout {
      grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
      grid-auto-rows: auto;
      grid-gap: var(--grid-gap);
      overflow: auto;
    }
  
    .grid-row-layout {
      grid-auto-columns: 145px;
    }
  }
  
  /* mobile */
  @media (max-width: 768px) {
    .p-container {
      padding-top: 0;
    }
  
    .blackground-css {
      background: var(--mobile-background);
      padding-top: auto;
    }
  
    .grid-layout {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-auto-rows: auto;
      grid-gap: var(--grid-gap);
      overflow: auto;
    }
  
    .grid-row-layout {
      grid-auto-columns: 100px;
    }
  }
  