:root {
    --main-color: #a0a0a0;
    --thead-color: white;
    --bg-color: #c5c5c5;
}

:global(.dark-mode) {
    --main-color: #a0a0a0;
    --thead-color: #2f2f2f;
    --bg-color: #c5c5c5;
}

table {
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
}

table thead{
    position: sticky;
    top:0;
    background-color: var(--thead-color);
}

table tr {
    border: none;
    border-bottom: 2px solid var(--main-color);
}

table tbody tr:hover {
    background-color: var(--bg-color);
}

table tbody {
    overflow-y: auto;
}

table td,
table th {
    padding: 8px;
    white-space: nowrap;
}

.edit {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.75rem;
}

