:root {
  --background-color-btn : rgb(209 213 219);
  --icon-button: black;
  --border-color: black;
}

:global(.dark-mode) {
  --background-color-btn : #3c3c3c;
  --icon-button: white;
  --border-color: #ffffff;
}

.search_bar {
    position: relative;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
  }
  
.search_input {
    width: 100% ;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    font-size: 12pt;
    color: var(--icon-button);
    text-decoration: none;
    background-color: transparent;
    padding: 4px 4px 4px 28px;
  }
  
.search_icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
  }
  